deploy/criReturnStepFunction.asl.json
{
  "StartAt": "ValidateOauthCallback",
  "States": {
    "ValidateOauthCallback": {
      "Type": "Task",
      "Resource": "${ValidateOAuthCallbackFunctionArn}",
      "ResultPath": "$.lambdaResult",
      "Next": "RouteJourneyResponse"
    },
    "RetrieveCriOauthAccessToken": {
      "Type": "Task",
      "Resource": "${RetrieveCriOauthAccessTokenFunctionArn}",
      "Parameters": {
        "ipvSessionId.$": "$.ipvSessionId",
        "ipAddress.$": "$.ipAddress",
        "journey.$": "$.lambdaResult.journey"
      },
      "Catch": [
        {
          "ErrorEquals": ["uk.gov.di.ipv.core.library.exceptions.JourneyError"],
          "ResultPath": "$.error",
          "Next": "RetrieveCriOAuthAccessTokenError"
        }
      ],
      "ResultPath": "$.lambdaResult",
      "Next": "RetrieveCriCredential"
    },
    "RetrieveCriCredential": {
      "Type": "Task",
      "Resource": "${RetrieveCriCredentialFunctionArn}",
      "Parameters": {
        "ipvSessionId.$": "$.ipvSessionId",
        "ipAddress.$": "$.ipAddress"
      },
      "ResultPath": "$.lambdaResult",
      "Next": "RouteJourneyResponse"
    },
    "RetrieveCriOAuthAccessTokenError": {
      "Type": "Pass",
      "Next": "ReturnToFrontend"
    },
    "ReturnToFrontend": {
      "Type": "Succeed",
      "OutputPath": "$.lambdaResult"
    },
    "RouteJourneyResponse": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.lambdaResult.journey",
            "IsPresent": true
          },
          "Next": "ReturnToFrontend"
        },
        {
          "Variable": "$.lambdaResult.journey",
          "StringEquals": "/journey/cri/access-token",
          "Next": "RetrieveCriOauthAccessToken"
        }
      ],
      "Default": "ReturnToFrontend"
    }
  }
}
