deploy/journey_engine.asl.json
{
  "StartAt": "ProcessJourneyStep",
  "States": {
    "ProcessJourneyStep": {
      "Type": "Task",
      "Resource": "${IPVProcessJourneyStepFunctionArn}",
      "Next": "IsJourney",
      "Parameters": {
        "journey.$": "$.journey",
        "ipvSessionId.$": "$$.Execution.Input.ipvSessionId",
        "ipAddress.$": "$$.Execution.Input.ipAddress"
      }
    },
    "IsJourney": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.journey",
          "IsPresent": false,
          "Next": "Success"
        },
        {
          "Variable": "$.journey",
          "StringEquals": "/journey/check-existing-identity",
          "Next": "CheckExistingIdentity"
        },
        {
          "Variable": "$.journey",
          "StringEquals": "/journey/evaluate-gpg45-scores",
          "Next": "EvaluateGpg45Scores"
        },
        {
          "Variable": "$.journey",
          "StringEquals": "/journey/select-cri",
          "Next": "SelectCriFunction"
        },
        {
          "Variable": "$.journey",
          "StringEquals": "/journey/build-client-oauth-response",
          "Next": "BuildClientOauthResponseFunction"
        },
        {
          "Variable": "$.journey",
          "StringMatches": "/journey/cri/build-oauth-request/*",
          "Next": "BuildCriOauthRequestFunction"
        },
        {
          "Variable": "$.journey",
          "StringMatches": "/journey/end-mitigation-journey/*",
          "Next": "BuildProvenUserIdentityDetails"
        },
        {
          "Variable": "$.journey",
          "StringMatches": "/journey/*",
          "Next": "ShouldRunProcessJourney"
        }
      ],
      "Default": "Success"
    },
    "CheckExistingIdentity": {
      "Type": "Task",
      "Resource": "${CheckExistingIdentityFunctionArn}",
      "Parameters": {
        "journey.$": "$.journey",
        "ipvSessionId.$": "$$.Execution.Input.ipvSessionId",
        "ipAddress.$": "$$.Execution.Input.ipAddress"
      },
      "Next": "ShouldRunProcessJourney"
    },
    "EvaluateGpg45Scores": {
      "Type": "Task",
      "Resource": "${EvaluateGpg45ScoresFunctionArn}",
      "Parameters": {
        "journey.$": "$.journey",
        "ipvSessionId.$": "$$.Execution.Input.ipvSessionId",
        "ipAddress.$": "$$.Execution.Input.ipAddress"
      },
      "Next": "ShouldRunProcessJourney"
    },
    "SelectCriFunction": {
      "Type": "Task",
      "Resource": "${SelectCriFunctionArn}",
      "Parameters": {
        "journey.$": "$.journey",
        "ipvSessionId.$": "$$.Execution.Input.ipvSessionId",
        "ipAddress.$": "$$.Execution.Input.ipAddress"
      },
      "Next": "ShouldRunProcessJourney"
    },
    "BuildCriOauthRequestFunction": {
      "Type": "Task",
      "Resource": "${BuildCriOauthRequestFunctionArn}",
      "Parameters": {
        "journey.$": "$.journey",
        "ipvSessionId.$": "$$.Execution.Input.ipvSessionId",
        "ipAddress.$": "$$.Execution.Input.ipAddress"
      },
      "Next": "ShouldRunProcessJourney"
    },
    "BuildProvenUserIdentityDetails":{
      "Type": "Task",
      "Resource": "${BuildProvenUserIdentityDetailsFunctionArn}",
      "Parameters": {
        "journey.$": "$.journey",
        "ipvSessionId.$": "$$.Execution.Input.ipvSessionId",
        "ipAddress.$": "$$.Execution.Input.ipAddress"
      },
      "Next": "ShouldRunProcessJourney"
    },
    "BuildClientOauthResponseFunction":{
      "Type": "Task",
      "Resource": "${BuildClientOauthResponseFunctionArn}",
      "Parameters": {
        "journey.$": "$.journey",
        "ipvSessionId.$": "$$.Execution.Input.ipvSessionId",
        "ipAddress.$": "$$.Execution.Input.ipAddress"
      },
      "Next": "ShouldRunProcessJourney"
    },
    "ShouldRunProcessJourney": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.journey",
          "IsPresent": false,
          "Next": "Success"
        },
        {
          "Variable": "$.journey",
          "StringMatches": "/journey/*",
          "Next": "ProcessJourneyStep"
        }
      ],
      "Default": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}